@import "variables";
@import "estilopropio";

/* Var y Nesting*/
.navbar {
  background-color: $backgroundcolor !important;

  img {
    @include sizes(10rem, 10rem);
  }

  ul {
    margin-left: auto !important;
  }
}

.colorfooter {
  background-color: $backgroundcolor !important;
}
.card-body {
  background-color: $backgroundcolor !important;
}
.card-footer {
  background-color: $backgroundcolor !important;
}

.colorfondo {
  background-color: $colortransparencia !important;
}
